[Desktop Entry]
Type=Application
Name=tmux session
Comment=New tmux session in a terminal (Super+Alt+Enter)
Exec=kitty tmux new
Terminal=false
NoDisplay=true
